:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.theme-1 {
    --color-main-background: hsl(222, 26%, 31%);
    --color-secondary-background: hsl(223, 31%, 20%);
    --color-screen-background: hsl(224, 36%, 15%);

    --color-key-back: hsl(225, 21%, 49%);
    --color-key-shadow: hsl(224, 28%, 35%);
    --color-key-toggle-back: hsl(6, 63%, 50%);
    --color-key-toggle-shadow: hsl(6, 70%, 34%);
    --color-key-special-back: hsl(30, 25%, 89%);
    --color-key-special-shadow: hsl(28, 16%, 65%);

    --color-text: hsl(221, 14%, 31%);
    --color-text-secondary: hsl(0, 0%, 100%);
}

.theme-2 {
    --color-main-background: hsl(0, 0%, 90%);
    --color-secondary-background: hsl(0, 5%, 81%);
    --color-screen-background: hsl(0, 0%, 93%);

    --color-key-back: hsl(185, 42%, 37%);
    --color-key-shadow: hsl(185, 58%, 25%);
    --color-key-toggle-back: hsl(25, 98%, 40%);
    --color-key-toggle-shadow: hsl(25, 99%, 27%);
    --color-key-special-back: hsl(45, 7%, 89%);
    --color-key-special-shadow: hsl(35, 11%, 61%);

    --color-text: hsl(60, 10%, 19%);
    --color-text-secondary: hsl(0, 0%, 100%);
}

.theme-3 {
    --color-main-background: hsl(268, 75%, 9%);
    --color-secondary-background: hsl(268, 71%, 12%);
    --color-screen-background: hsl(268, 71%, 12%);

    --color-key-back: hsl(281, 89%, 26%);
    --color-key-shadow: hsl(285, 91%, 52%);
    --color-key-toggle-back: hsl(176, 100%, 44%);
    --color-key-toggle-shadow: hsl(177, 92%, 70%);
    --color-key-special-back: hsl(268, 47%, 21%);
    --color-key-special-shadow: hsl(290, 70%, 36%);

    --color-text: hsl(52, 100%, 62%);
    --color-text-secondary: hsl(0, 0%, 100%);
    --color-text-third: hsl(198, 20%, 13%);
}


