@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
  font-family: "League Spartan", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 700;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
    width: 100%;
}

* {
    transition: color 150ms;
    transition: background-color 150ms;
}

.theme-3 {
    --color-main-background: hsl(268, 75%, 9%);
    --color-secondary-background: hsl(268, 71%, 12%);
    --color-screen-background: hsl(268, 71%, 12%);


    --color-key-special-back: hsl(281, 89%, 26%);
    --color-key-special-shadow: hsl(285, 91%, 52%);
    --color-key-special-back-hover: hsl(281, 89%, 46%);
    
    --color-key-toggle-back: hsl(176, 100%, 44%);
    --color-key-toggle-shadow: hsl(177, 92%, 70%);
    --color-key-toggle-back-hover: hsl(176, 100%, 84%);

    --color-key-back: hsl(268, 47%, 21%);
    --color-key-shadow: hsl(290, 70%, 36%);
    --color-key-back-hover: hsl(268, 47%, 41%);


    --color-text-upper: hsl(52, 100%, 62%);
    --color-text-key: hsl(52, 100%, 62%);
    --color-text-key-special: hsl(0, 0%, 100%);
    --color-text-key-submit: hsl(198, 20%, 13%);
}


