@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
  font-family: "League Spartan", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 700;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
    width: 100%;
}

.theme-1 {
    --color-main-background: hsl(222, 26%, 31%);
    --color-secondary-background: hsl(223, 31%, 20%);
    --color-screen-background: hsl(224, 36%, 15%);

    --color-key-special-back: hsl(225, 21%, 49%);
    --color-key-special-shadow: hsl(224, 28%, 35%);
    --color-key-toggle-back: hsl(6, 63%, 50%);
    --color-key-toggle-shadow: hsl(6, 70%, 34%);
    --color-key-back: hsl(30, 25%, 89%);
    --color-key-shadow: hsl(28, 16%, 65%);

    --color-text-upper: hsl(0, 0%, 100%);
    --color-text-key: hsl(221, 14%, 31%);
    --color-text-key-special: hsl(0, 0%, 100%);
    --color-text-key-submit: hsl(0, 0%, 100%);
}

.theme-2 {
    --color-main-background: hsl(0, 0%, 90%);
    --color-secondary-background: hsl(0, 5%, 81%);
    --color-screen-background: hsl(0, 0%, 93%);

    --color-key-special-back: hsl(185, 42%, 37%);
    --color-key-special-shadow: hsl(185, 58%, 25%);
    --color-key-toggle-back: hsl(25, 98%, 40%);
    --color-key-toggle-shadow: hsl(25, 99%, 27%);
    --color-key-back: hsl(45, 7%, 89%);
    --color-key-shadow: hsl(35, 11%, 61%);

    --color-text-upper: hsl(60, 10%, 19%);
    --color-text-key: hsl(60, 10%, 19%);
    --color-text-key-special: hsl(0, 0%, 100%);
    --color-text-key-submit: hsl(0, 0%, 100%);
}

.theme-3 {
    --color-main-background: hsl(268, 75%, 9%);
    --color-secondary-background: hsl(268, 71%, 12%);
    --color-screen-background: hsl(268, 71%, 12%);

    --color-key-special-back: hsl(281, 89%, 26%);
    --color-key-special-shadow: hsl(285, 91%, 52%);
    --color-key-toggle-back: hsl(176, 100%, 44%);
    --color-key-toggle-shadow: hsl(177, 92%, 70%);
    --color-key-back: hsl(268, 47%, 21%);
    --color-key-shadow: hsl(290, 70%, 36%);

    --color-text-upper: hsl(52, 100%, 62%);
    --color-text-key: hsl(52, 100%, 62%);
    --color-text-key-special: hsl(0, 0%, 100%);
    --color-text-key-submit: hsl(198, 20%, 13%);
}


